#container {
  position : relative;
}

.control-point {
  position : absolute;
  background : #00ff00;
  color : #ffffff;
  width : 10px;
  height : 10px;
  z-index = 255;
}

#slider-area {
  position : relative;
  height : 100px;
}

#slider-area > #slideUp {
  position : absolute;
  margin-top : 0px;
  margin-left : 44px;
}

#slider-area > #slideRight {
  position : absolute;
  margin-top : 30px;
  margin-left : 90px;
}

#slider-area > #slideLeft {
  position : absolute;
  margin-top : 30px;
  margin-left : 0px;
}

#slider-area > #slideDown {
  position : absolute;
  margin-top : 60px;
  margin-left : 44px;
}

