/*
 * auther : mollifier http://d.hatena.ne.jp/mollifier/
 * license : MIT License.
 * http://www.opensource.org/licenses/mit-license.php
 */

#container {
  position : relative;
}

.slider-controller {
  position : relative;
  height : 100px;
}

.slider-controller #slideUp {
  position : absolute;
  margin-top : 0px;
  margin-left : 44px;
}

.slider-controller #slideRight {
  position : absolute;
  margin-top : 30px;
  margin-left : 90px;
}

.slider-controller #slideLeft {
  position : absolute;
  margin-top : 30px;
  margin-left : 0px;
}

.slider-controller #slideDown {
  position : absolute;
  margin-top : 60px;
  margin-left : 44px;
}

